*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: 'Big Shoulders Display';
    max-width: 100vw;
    background: #f2f2f2;
}
.container-1{
    height: 630px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}
.txt-container{
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
    display: flex;
    gap: 32px;
}
.first-image{
    display: flex;
    height: 240px;
    width: 375px; 
}

.title{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
}
.modern{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.about-txt{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    color: #444444;
    margin-bottom: 32px;
}
.location{
    display: flex;
    width: 260px;
    height: 72px;
    background-color: #151515;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
}
.location-txt{
    font-family: 'Big Shoulders Display';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;

    color: #FFFFFF;
}
a{
    list-style: none;
}
.arow{
    height: 72px;
    width: 56px;
    background: #D5966C;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon-arow{
    height: 24px;
    width: 8px;
    border: 1px solid #FFFFFF;
}
.location:hover{
    background-color: #D5966C;
    opacity: 1;
}
.location:hover .arow{
    background-color: #151515;
    opacity: 1;
}
.container-2{
    margin-top: 120px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 120px;
}

.first-image-and-div{
    display: flex;
    gap: 25px;
    flex-direction: column;
}
.second-image-and-div{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.third-image-and-div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-1{
    width: 343px;
    height: 320px;
    display: flex;
}
.tablet-1, .tablet-2, .tablet-3{
    display: none;
}
.desktop-1, .desktop-2, .desktop-3{
    display: none;
}
.your-day{
    width: 343px;
    height: 223px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.your-day-title{
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;

    color: #151515;
}
.your-day-txt{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}
.image-2{
    width: 343px;
    height: 480px;
    display: flex;
}
.image-3{
    width: 343px;
    height: 200px;
    display: flex;
}
.come-inspired{
    width: 343px;
    height: 293px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 24px 47px 24px;
}
.come-inspired-title{
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
}

.come-inspired-txt{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
footer{
    width: 100vw;
    height: 336px;
    background: #151515;
    padding: 48px 32px;
    display: flex;
}
.footer-logo{
    height: 40px;
    width: 110px;
}
.footer-txt{

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
    .icon-images{
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px;

    }
    .facebook, .instagram, .twitter{
        cursor: pointer;
    }

   .facebook:hover{
    filter: invert(0.5) sepia(1);
   }

   .instagram:hover {
    filter: invert(0.5) sepia(1);
   }

   .twitter:hover{
    filter: invert(0.5) sepia(1);
   }

@media screen and (min-width: 768px) {
    .first-image{
        display: none;
    }
    body{
        background-image: url(assets/tablet/image-hero.jpg);
        background-repeat: no-repeat;
    }
    .first-image-and-div{
        gap: 68px;
        flex-direction: row;
    }
    .second-image-and-div{
        flex-direction: row;
        gap: 11px;
    }
    .third-image-and-div{
        flex-direction: column;
        gap: 11px;
    }
    .txt-container{
        height: 410px;
        margin-left: 389px;
        margin-top: 145px;
      
    }
    .modern{
        gap: 48px;
    }
    .title-div{
        width: 339px;
    }
    .title{
        font-size: 70px;
        line-height: 65px;
    }

    .ab-txt{
        width: 339px;
        height: 112px;
    }
    .container-1{
        height: 700px;
        justify-content: flex-start;
    }
    .container-2{
        margin-top: 120px;
        height: 1131px;
        gap: 11px;
    
    }
    .your-day{
        justify-content: space-between;
        order: 1;
        width: 223px;
        height: 299px;
    }
    .image-1, .image-2, .image-3{
       display: none;
    }
    .tablet-1{
        display: flex;
        order: 2;
    }
    
    .tablet-2{
        display: flex;
        order: 3;
    }
    .tablet-3{
        display: flex;
        order: 4;
    }
    .come-inspired{
        order: 5;
        width: 280px;
        height: 396px;
        padding: 85px 28px;
    }
    footer{
        height: 216px;
        margin-top: 120px;
    }
    .footer{
        height: 104px;
        width: 100vw;
        flex-direction: row;
    }
    .footer-logo{
        width: 110px;
        height: 40px;
    }
    .footer-txt{
        width: 281px;
    
    }
    .icon-images{
        height: 20px;
        flex-direction: row;
    }
    
}

@media  screen and (min-width: 1440px) {
    .first-img{
        display:none;
    }
    .first-image{
        background-color: #151515;
        width: 450px;
        height: 799px;
        display: flex;
    }
    .title{
        color: #f2f2f2;
        mix-blend-mode: difference;
    }
    .container-1{
        height: 800px;
    }
    body{
        background-image: url(assets/desktop/image-hero.jpg);
        background-repeat: no-repeat;
        background-position-x: 450px;
    }
    .title-div{
        width: 514px;
        height: 176px;
        display: flex;
        margin-left: -720px;

    }
    .title{
        font-size: 96px;
        line-height: 88px;
    }
   .title-div{
    margin-right: 220px;
   }
    .about-txt{
        width: 350px;
        font-size: 22px;
        line-height: 32px;
    }
    .txt-container{
        margin-top: 189px;
    }
    .modern{
        justify-content: flex-start;
    }
    .location{
        margin-top: 64px;
    }
    .container-2{
        height: 1150px;
        margin-top: 180px;
    }
  
    .tablet-1, .tablet-2, .tablet-3{
        display: none;
    }
    .first-image-and-div{
        gap: 125px;
    }
    .second-image-and-div{
        gap: 30px;
    }
    .third-image-and-div{
        flex-direction: column;
        gap: 30px;
    }
    .desktop-1{
        order: 2;
        display: flex;
    
    }
    .desktop-2{
        order: 3;
        display: flex;
    }
    .desktop-3{
        order: 4;
        display: flex;
    }
    .come-inspired{
        order: 5;
        width: 445px;
        height: 377px;
        justify-content: space-between;
        padding: 65px 47px;
    }
    .come-inspired-title{
        font-size: 60px;
        line-height: 60px;
    }
    .come-inspired-txt{
        font-size: 22px;
        line-height: 32px;
    }
    .your-day{
        margin-top: 40px;
        justify-content: space-between;
    
        order: 1;
        width: 350px;
        height: 280px;
        gap: 32px;
    }
    .your-day-title{
        font-size: 60px;
        line-height: 60px;
    }
    .your-day-title br {
        display: none;
    }
    .your-day-txt{
        font-size: 22px;
        line-height: 32px;
    }

    footer{
        height: 244px;
        padding: 80px 165px;
        margin-top: 180px;

    }
    .footer-logo{
        width: 159px;
        height: 58px;
    }
    .footer-txt{
        font-size: 18px;
        line-height: 28px;
        width: 430px;
    }
    .footer{
        height: 80px;
    }

}   
